.nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F9F9FA;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list{
  display: flex;
  justify-content: space-between;
} 
.nav__link{
  color: #2E363E;
  position: relative;
}
.nav__notification{
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}
.nav__dot{
  display: flex;
  width: 5.6px;
  height: 5.6px;
  border-radius: 2.8px;
  position: absolute;
  background-color: tomato;
  bottom: 29px;
  left: 30px;
}